#basket_wrapper{
    width: 330px;
    margin-top: -4px;
}

.shopping-cart {
    font-size: 32px;
    text-align: center;
    margin-bottom: 22px;
}

#basket {
    min-height: 100dvh;
    position: sticky;
    border: 1px solid #e7d8c5;
    top: 0;
    box-shadow:  0px 3px 10px 2px #e7d8c5;
    padding: 0 7px 0 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textEmptyShoppingCart{
    text-align: center;
}

